<div class="container">
    <div class="panel panel-default">
        <div class="panel-body" style="background-color: #f5f5f5;">
            <div>
                <span class="glyphicon glyphicon-user">&nbsp;管理员管理&nbsp;</span>
                <span class="glyphicon glyphicon-chevron-right">&nbsp;查看管理员信息&nbsp;</span>
                <span class="glyphicon glyphicon-chevron-right">&nbsp;关联角色&nbsp;</span>
                <a href="javascript:;">返回</a>
            </div>
        </div>
    </div>

    <div>
        <form role="form" class="form-horizontal">
            <div class="form-group">
                <label for="username" class="control-label col-sm-3">管理员帐号：</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" id="username" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3">角色：</label>
                <div class="col-sm-8 checkbox">
                    <input type="radio" name="rolename" id="rolename1" value="rolename1" checked=""> 超级管理员&emsp;
                    <input type="radio" name="rolename" id="rolename2" value="rolename2"> 商品管理员&emsp;
                    <input type="radio" name="rolename" id="rolename3" value="rolename3"> 订单管理员&emsp;
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-8">
                    <button type="button" class="btn btn-primary">保存</button>
                </div>
            </div>
        </form>
    </div>
</div>