
<div class="container">
	<div class="panel panel-default">
		<div class="panel-body" style="background-color: #f5f5f5;">
			<div class="col-sm-6">
				<span class="glyphicon glyphicon-user">&nbsp;店铺管理&nbsp;</span> <span
					class="glyphicon glyphicon-chevron-right">&nbsp;店铺商品管理&nbsp;</span>
				<span class="glyphicon glyphicon-chevron-right">&nbsp;{{storeName}}&nbsp;</span>
				<span class="glyphicon glyphicon-chevron-right">&nbsp;注册新商品&nbsp;</span>
				<a href="javascript:window.history.go(-1);">返回</a>
			</div>
			<div class="col-sm-6">
				<div class="col-sm-10">
					<div class="input-group">
						<div class="input-group-btn">
							<div class="btn-group">
								<button class="btn btn-default dropdown-toggle"
									data-toggle="dropdown" type="button">
									<span class="glyphicon glyphicon-ok">&emsp;商品名称</span> <span
										class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li><a href="javascript:;" class="glyphicon glyphicon-ok">&emsp;商品名称</a>
									</li>
									<li><a href="javascript:;" class="glyphicon glyphicon-ok">&emsp;商品编号</a>
									</li>
								</ul>
							</div>
						</div>
						<input type="text" class="form-control" placeholder="请输入搜索内容">
						<div class="input-group-btn">
							<button class="btn btn-default" type="button">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div>
		<label class="control-label col-sm-2">选择商品类别：</label>
		<div class="col-sm-2">
			<select class="form-control">
				<option>校服文化</option>
			</select>
		</div>
		<div class="col-sm-2">
			<select class="form-control">
				<option>套装</option>
			</select>
		</div>
		<div class="col-sm-2">
			<select class="form-control">
				<option>运动衫</option>
			</select>
		</div>
		<div class="col-sm-2">
			<button type="button" class="btn btn-default">注册选中项</button>
		</div>
	</div>
	<br />
	<hr />
	<div>
		<table class="table table-striped">
			<tr>
				<th></th>
				<th><input type="checkbox" /></th>
				<th>商品编号</th>
				<th>商品名称</th>
				<th>主图片</th>
				<th>创建时间</th>
				<th>更新时间</th>
				<th>简介</th>
			</tr>

			<tr>
				<td>1</td>
				<td><input type="checkbox" /></td>
				<td>695684030227</td>
				<td>运动装</td>
				<td><img alt=""
					src="../img/caa7ca5a-2b00-4696-bedd-67af77ae46f8.jpg" width="40px"
					height="40px" /></td>
				<td>2015-12-25 02:28:42</td>
				<td></td>
				<td>运动装</td>
			</tr>
		</table>
	</div>
</div>
