<div class="container">
	<div class="panel panel-default">
		<div class="panel-body" style="background-color: #f5f5f5;">
			<div class="col-sm-6"  style="position: relative; top: 7px;">
				<span class="glyphicon glyphicon-user">&nbsp;商品管理&nbsp;</span>
				<span class="glyphicon glyphicon-chevron-right">&nbsp;商品基本信息&nbsp;</span>
			</div>
			<div class="col-sm-6">
				<div class="col-sm-10">
					<div class="input-group">
						<div class="input-group-btn">
							<div class="btn-group">
								<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
									<span class="glyphicon glyphicon-ok">&emsp;商品名称</span>
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li>
										<a href="javascript:;" class="glyphicon glyphicon-ok">&emsp;商品名称</a>
									</li>
									<li>
										<a href="javascript:;" class="glyphicon glyphicon-ok">&emsp;商品编号</a>
									</li>
								</ul>
							</div>
						</div>
						<input type="text" class="form-control" placeholder="请输入搜索内容">
						<div class="input-group-btn">
							<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
						</div>
					</div>
				</div>
				<div class="col-sm-2 ">
					<button type="button" class="btn btn-default">
						<span class="glyphicon glyphicon-plus">添加</span>
					</button>
				</div>
			</div>
		</div>
	</div>

	<div>
		<table class="table table-striped" style="text-align: center;">
			<tr>
				<th></th>
				<th style="text-align: center;">商品编号</th>
				<th style="text-align: center;">商品名称</th>
				<th style="text-align: center;">主图片</th>
				<th style="text-align: center;">创建时间</th>
				<th style="text-align: center;">更新时间</th>
				<th style="text-align: center;">简介</th>
				<th style="text-align: center;">操作</th>
			</tr>

			<tr>
				<td>1</td>
				<td>6946881700476</td>
				<td>珍欣无核葡萄干135g</td>
				<td></td>
				<td>2015-11-08 10:25:05</td>
				<td>2015-11-08 10:25:05</td>
				<td>珍欣无核葡萄干135g</td>
				<td>
					<a href="javascript:;">修改</a>
				</td>
			</tr>
			<tr>
				<td>1</td>
				<td>6946881700476</td>
				<td>珍欣无核葡萄干135g</td>
				<td></td>
				<td>2015-11-08 10:25:05</td>
				<td>2015-11-08 10:25:05</td>
				<td>珍欣无核葡萄干135g</td>
				<td>
					<a href="javascript:;">修改</a>
				</td>
			</tr>
			<tr>
				<td>1</td>
				<td>6946881700476</td>
				<td>珍欣无核葡萄干135g</td>
				<td></td>
				<td>2015-11-08 10:25:05</td>
				<td>2015-11-08 10:25:05</td>
				<td>珍欣无核葡萄干135g</td>
				<td>
					<a href="javascript:;">修改</a>
				</td>
			</tr>
			<tr>
				<td>1</td>
				<td>6946881700476</td>
				<td>珍欣无核葡萄干135g</td>
				<td></td>
				<td>2015-11-08 10:25:05</td>
				<td>2015-11-08 10:25:05</td>
				<td>珍欣无核葡萄干135g</td>
				<td>
					<a href="javascript:;">修改</a>
				</td>
			</tr>
			<tr>
				<td>1</td>
				<td>6946881700476</td>
				<td>珍欣无核葡萄干135g</td>
				<td></td>
				<td>2015-11-08 10:25:05</td>
				<td>2015-11-08 10:25:05</td>
				<td>珍欣无核葡萄干135g</td>
				<td>
					<a href="javascript:;">修改</a>
				</td>
			</tr>
			<tr>
				<td>1</td>
				<td>6946881700476</td>
				<td>珍欣无核葡萄干135g</td>
				<td></td>
				<td>2015-11-08 10:25:05</td>
				<td>2015-11-08 10:25:05</td>
				<td>珍欣无核葡萄干135g</td>
				<td>
					<a href="javascript:;">修改</a>
				</td>
			</tr>
		</table>
	</div>
</div>