<div class="container" ng-controller="goodsCategoryController">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="col-sm-6">
				<span class="glyphicon glyphicon-user">&nbsp;商品管理&nbsp;</span> <span
					class="glyphicon glyphicon-chevron-right">&nbsp;分类管理&nbsp;</span>
			</div>
			<div class="col-sm-6">
				<div class="col-sm-10">
					<div class="input-group">
						<div class="input-group-btn">
							<div class="btn-group">
								<button class="btn btn-default dropdown-toggle"
									data-toggle="dropdown" type="button">
									<span class="glyphicon glyphicon-ok">&emsp;分类名称</span> <span
										class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li><a href="javascript:;" class="glyphicon glyphicon-ok">&emsp;一级分类名称</a>
									</li>
									<li><a href="javascript:;" class="glyphicon glyphicon-ok">&emsp;二级分类名称</a>
									</li>
									<li><a href="javascript:;" class="glyphicon glyphicon-ok">&emsp;三级分类名称</a>
									</li>
								</ul>
							</div>
						</div>
						<input type="text" class="form-control" placeholder="请输入搜索内容">
						<div class="input-group-btn">
							<button class="btn btn-default" type="button">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</div>
					</div>
				</div>
				<div class="col-sm-2 ">
					<button type="button" class="btn btn-default" ng-click="addCategory()">
						<span class="glyphicon glyphicon-plus">添加</span>
					</button>
				</div>
			</div>
		</div>
	</div>
	<table class="table table-striped" ng-init="getFirstCategory()">
		<tr>
			<th></th>
			<th>一级分类名称</th>
			<th>分级</th>
			<th>一级分类ID</th>
			<th>操作</th>
		</tr>

		<tr ng-repeat="items in aFirstCategory">
			<td>{{$index+1}}</td>
			<td>{{items.firstName}}</td>
			<td>1</td>
			<td>{{items.firstId}}</td>
			<td><a
				ui-sref="goods/category/changeCategory({id:items.firstId,categoryName:items.firstName})">修改</a>&emsp;
				<a href="javascript:;" data-toggle="modal" data-target="#confirmDeleteModal" ng-click="updateDeleteId(items.firstId, 1)">删除</a></td>
		</tr>
	</table>
	<pagination></pagination>
	<table class="table table-striped" ng-init="getSecondCategory()">
		<tr>
			<th></th>
			<th>二级分类名称</th>
			<th>分级</th>
			<th>一级分类名称</th>
			<th>操作</th>
		</tr>

		<tr ng-repeat="items in aSecondCategory">
			<td>{{$index+1}}</td>
			<td>{{items.secondName}}</td>
			<td>2</td>
			<td>{{items.firstName}}</td>
			<td>
				<a ui-sref="goods/category/changeCategory({id:items.secondtId,categoryName:items.secondName})">修改</a>&emsp;
				<a href="javascript:;" data-toggle="modal" data-target="#confirmDeleteModal" ng-click="updateDeleteId(items.secondtId, 2)">删除</a>
			</td>
		</tr>
	</table>
	<pagination></pagination>
	<table class="table table-striped" ng-init="getThirdCategory()">
		<tr>
			<th></th>
			<th>三级分类名称</th>
			<th>分级</th>
			<th>二级分类名称</th>
			<th>操作</th>
		</tr>
		<tr ng-repeat="items in aThirdCategory">
			<td>{{$index+1}}</td>
			<td>{{items.thirdName}}</td>
			<td>3</td>
			<td>{{items.secondName}}</td>
			<td><a ui-sref="goods/category/changeCategory({id:items.thirdId,categoryName:items.thirdName})">修改</a>&emsp;
				<a href="javascript:;" data-toggle="modal" data-target="#confirmDeleteModal" ng-click="updateDeleteId(items.thirdId, 3)">删除</a></td>
		</tr>
	</table>
	<pagination></pagination>
	<confirmdeletemodal></confirmdeletemodal>
</div>
