<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lexian.mall.user.dao.OrderItemDao">

	<insert id="insertOrderItem" parameterType="java.util.List">
	
		insert into orderitem(order_id,commodity_no,amount,listprice,totalprice)
		values
		<foreach collection="list" item="item" separator=",">
			(
				#{ item.orderId,jdbcType=INTEGER},
				#{ item.commodityNo,jdbcType=VARCHAR},
				#{ item.amount,jdbcType=INTEGER},
				#{ item.listPrice,jdbcType=DOUBLE},
				#{ item.totalPrice,jdbcType=DOUBLE}
			)
		</foreach>
	</insert>

</mapper>