<div class="container queryMenuContainer" ng-controller="queryMenuController">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-sm-6">
                <span class="glyphicon glyphicon-user">&nbsp;管理员管理&nbsp;</span>
                <span class="glyphicon glyphicon-chevron-right">&nbsp;查看菜单&nbsp;</span>
            </div>
            <div class="col-sm-6">
                <div class="col-sm-10 col-sm-offset-2">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <div class="btn-group">
                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
                                    <span class="glyphicon glyphicon-ok">&emsp;菜单名称</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="javascript:;" class="glyphicon glyphicon-ok">&emsp;菜单名称</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" class="glyphicon glyphicon-ok">&emsp;上级菜单名称</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <input type="text" class="form-control" placeholder="请输入搜索内容">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="button"><span
                                    class="glyphicon glyphicon-search"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <table class="table table-striped" ng-init="getMenus()">
        <tr>
            <th></th>
            <th>菜单名称</th>
            <th>上级菜单名称</th>
            <th>菜单背景图片</th>
            <th>菜单</th>
            <th>操作</th>
        </tr>
        <tr ng-repeat="item in oData.aCenterListData" ng-switch="item.parentId">
            <td>{{$index+1}}</td>
            <td>{{item.name}}</td>
            <td>
                <span ng-switch-when="null">顶级菜单</span>
                <span ng-switch-default>一级菜单</span>
            </td>
            <td>
                <i class="icon" ng-class="oData.aIcons[item.id-1]" ng-switch-when="null"></i>
                <span ng-switch-default>(无)</span>
            </td>
            <td>
                <span ng-switch-when="null">(无)</span>
                <span ng-switch-default>{{oData.jSref[item.id]}}</span>
            </td>
            <td></td>
        </tr>
    </table>

</div>
