<div class="container" ng-controller="queryRoleController">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-sm-6">
                <span class="glyphicon glyphicon-user">&nbsp;管理员管理&nbsp;</span>
                <span class="glyphicon glyphicon-chevron-right">&nbsp;查看角色信息&nbsp;</span>
            </div>
            <div class="col-sm-6">
                <div class="col-sm-10">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <div class="btn-group">
                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
                                    <span class="glyphicon glyphicon-ok">&emsp;角色名称</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="javascript:;" class="glyphicon glyphicon-ok">&emsp;角色名称</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" class="glyphicon glyphicon-ok">&emsp;描述</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <input type="text" class="form-control" placeholder="请输入搜索内容">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="button"><span
                                    class="glyphicon glyphicon-search"></span></button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 ">
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-plus">添加</span>
                    </button>
                </div>
            </div>
        </div>
    </div>


    <table class="table table-striped" ng-init="getRoles()">
        <tr>
            <th></th>
            <th>角色名称</th>
            <th>描述</th>
            <th>创建时间</th>
            <th>修改时间</th>
            <th>操作</th>
        </tr>

        <tr ng-repeat="item in aRoles">
            <td>{{$index+1}}</td>
            <td>{{item.name}}</td>
            <td>{{item.description}}</td>
            <td>{{item.createTime|date: 'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{item.updateTime|date: 'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>
                <a href="javascript:;">修改</a>&emsp;
                <a href="javascript:;">授权</a>&emsp;
                <a href="javascript:;">添加菜单</a>
            </td>
        </tr>
    </table>
    <pagination></pagination>
</div>