<div class="container">
	<div class="panel panel-default">
		<div class="panel-body" style="background-color: #f5f5f5;">
			<div class="col-sm-6" style="position: relative; top: 7px;">
				<span class="glyphicon glyphicon-user">&nbsp;管理员管理&nbsp;</span>
				<span class="glyphicon glyphicon-chevron-right">&nbsp;查看菜单&nbsp;</span>
			</div>
			<div class="col-sm-6">
				<div class="col-sm-10 col-sm-offset-2">
					<div class="input-group">
						<div class="input-group-btn">
							<div class="btn-group">
								<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
									<span class="glyphicon glyphicon-ok">&emsp;菜单名称</span>
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li>
										<a href="javascript:;" class="glyphicon glyphicon-ok">&emsp;菜单名称</a>
									</li>
									<li>
										<a href="javascript:;" class="glyphicon glyphicon-ok">&emsp;上级菜单名称</a>
									</li>
								</ul>
							</div>
						</div>
						<input type="text" class="form-control" placeholder="请输入搜索内容">
						<div class="input-group-btn">
							<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div>
		<table class="table table-striped" style="text-align: center;">
			<tr>
				<th></th>
				<th style="text-align: center;">菜单名称</th>
				<th style="text-align: center;">上级菜单名称</th>
				<th style="text-align: center;">菜单背景图片</th>
				<th style="text-align: center;">菜单</th>
				<th style="text-align: center;">操作</th>
			</tr>

			<tr>
				<td>1</td>
				<td>权限管理</td>
				<td>顶级菜单</td>
				<td></td>
				<td>（无）</td>
				<td></td>
			</tr>
			<tr>
				<td>1</td>
				<td>权限管理</td>
				<td>顶级菜单</td>
				<td></td>
				<td>（无）</td>
				<td></td>
			</tr>
			<tr>
				<td>1</td>
				<td>权限管理</td>
				<td>顶级菜单</td>
				<td></td>
				<td>（无）</td>
				<td></td>
			</tr>
			<tr>
				<td>1</td>
				<td>权限管理</td>
				<td>顶级菜单</td>
				<td></td>
				<td>（无）</td>
				<td></td>
			</tr>
			<tr>
				<td>1</td>
				<td>权限管理</td>
				<td>顶级菜单</td>
				<td></td>
				<td>（无）</td>
				<td></td>
			</tr>
			<tr>
				<td>1</td>
				<td>权限管理</td>
				<td>顶级菜单</td>
				<td></td>
				<td>（无）</td>
				<td></td>
			</tr>
		</table>
	</div>
</div>
