<div class="container" ng-controller="queryusersController">
	<div class="panel panel-default">
		<div class="panel-body" style="background-color: #f5f5f5;">
			<div class="col-sm-6"  style="position: relative; top: 7px;">
				<span class="glyphicon glyphicon-user">&nbsp;管理员管理&nbsp;</span>
				<span class="glyphicon glyphicon-chevron-right">&nbsp;查看管理员信息&nbsp;</span>
			</div>
			<div class="col-sm-6">
				<div class="col-sm-10">
					<div class="input-group">
						<div class="input-group-btn">
							<div class="btn-group">
								<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
									<span class="glyphicon glyphicon-ok">&emsp;管理员帐号</span>
									<span class="caret"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li>
										<a href="javascript:;" class="glyphicon glyphicon-ok">&emsp;管理员帐号</a>
									</li>
									<li>
										<a href="javascript:;" class="glyphicon glyphicon-ok">&emsp;描述</a>
									</li>
								</ul>
							</div>
						</div>
						<input type="text" class="form-control" placeholder="请输入搜索内容">
						<div class="input-group-btn">
							<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
						</div>
					</div>
				</div>
				<div class="col-sm-2 ">
					<button type="button" class="btn btn-default" ng-click="addUser()">
						<span class="glyphicon glyphicon-plus">添加</span>
					</button>
				</div>
			</div>
		</div>
	</div>

	<div>
		<table class="table table-striped" style="text-align: center;">
			<tr>
				<th></th>
				<th style="text-align: center;">管理员账号</th>
				<th style="text-align: center;">描述</th>
				<th style="text-align: center;">创建时间</th>
				<th style="text-align: center;">更新时间</th>
				<th style="text-align: center;">状态</th>
				<th style="text-align: center;">操作</th>
			</tr>
	
			<tr>
				<td>1</td>
				<td>13800138000</td>
				<td>超级管理员</td>
				<td>2015-09-01 16:30:19</td>
				<td>2016-06-22 15:26:18</td>
				<td>激活</td>
				<td>
					<a href="javascript:;">修改</a>&emsp;
					<a href="javascript:;">关联角色</a>&emsp;
					<a href="javascript:;">删除</a>&emsp;
					<a href="javascript:;">重置密码</a>&emsp;
					<a href="javascript:;">禁用</a>
				</td>
			</tr>
			<tr>
				<td>1</td>
				<td>13800138000</td>
				<td>超级管理员</td>
				<td>2015-09-01 16:30:19</td>
				<td>2016-06-22 15:26:18</td>
				<td>激活</td>
				<td>
					<a href="javascript:;">修改</a>&emsp;
					<a href="javascript:;">关联角色</a>&emsp;
					<a href="javascript:;">删除</a>&emsp;
					<a href="javascript:;">重置密码</a>&emsp;
					<a href="javascript:;">禁用</a>
				</td>
			</tr>
			<tr>
				<td>1</td>
				<td>13800138000</td>
				<td>超级管理员</td>
				<td>2015-09-01 16:30:19</td>
				<td>2016-06-22 15:26:18</td>
				<td>激活</td>
				<td>
					<a href="javascript:;">修改</a>&emsp;
					<a href="javascript:;">关联角色</a>&emsp;
					<a href="javascript:;">删除</a>&emsp;
					<a href="javascript:;">重置密码</a>&emsp;
					<a href="javascript:;">禁用</a>
				</td>
			</tr>
			<tr>
				<td>1</td>
				<td>13800138000</td>
				<td>超级管理员</td>
				<td>2015-09-01 16:30:19</td>
				<td>2016-06-22 15:26:18</td>
				<td>激活</td>
				<td>
					<a href="javascript:;">修改</a>&emsp;
					<a href="javascript:;">关联角色</a>&emsp;
					<a href="javascript:;">删除</a>&emsp;
					<a href="javascript:;">重置密码</a>&emsp;
					<a href="javascript:;">禁用</a>
				</td>
			</tr>
		</table>
	</div>
</div>

<div ui-view=""></div>