<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lexian.manager.order.dao.OrdersDao">



	<resultMap type="Orders" id="OrderssWithStoreMap">
		<id column="id" property="id" jdbcType="INTEGER"></id>
		<result column="order_no" property="orderNo" jdbcType="VARCHAR" />

		<result column="totalamount" property="totalAmount"
		 jdbcType="DOUBLE" />

		<result column="states" property="states" jdbcType="INTEGER" />
		<result column="createtime" property="createTime"
		 jdbcType="TIMESTAMP" />

		<association property="store" javaType="Store">
			<result column="storename" property="storeName" 
			jdbcType="VARCHAR" />
		</association>

	</resultMap>

	<resultMap type="Orders" id="OrderssWithUserAndStoreAndOrderItemMap">
		<id column="id" property="id" jdbcType="INTEGER"></id>
		<result column="order_no" property="orderNo" jdbcType="VARCHAR" />
		<result column="createtime" property="createTime" 
		jdbcType="TIMESTAMP" />
		<association property="user" javaType="User">
			<result column="username" property="userName" jdbcType="VARCHAR" />
			<result column="phone" property="phone" jdbcType="VARCHAR" />
		</association>
		<association property="store" javaType="Store">
			<result column="storename" property="storeName" 
			jdbcType="VARCHAR" />
		</association>
		<collection property="orderItems" ofType="OrderItem">
			<id column="oiid" property="id" jdbcType="INTEGER"></id>
			<result column="amount" property="amount" jdbcType="INTEGER" />
			<result column="listprice" property="listPrice" jdbcType="DOUBLE" />
			<result column="totalprice" property="totalPrice" 
			jdbcType="DOUBLE" />
			<association property="commodity" javaType="Commodity">
				<result column="commodity_no" property="commodityNo"
					jdbcType="VARCHAR" />
				<result column="name" property="name" jdbcType="VARCHAR" />
				<result column="pictureurl" property="pictureUrl" 
				jdbcType="VARCHAR" />
			</association>
		</collection>
	</resultMap>



	<select id="getOrderssWithStorePage" resultMap="OrderssWithStoreMap"
		parameterType="java.util.Map">
		SELECT orders.id,order_no,totalamount,states,createtime,storename
		FROM
		orders,store
		WHERE store.store_no=orders.store_no
		<if test="state != null">
			and states=#{state,jdbcType=INTEGER}
		</if>
	</select>

	<select id="getOrdersWithUserAndOrderItemsStore" 
	resultMap="OrderssWithUserAndStoreAndOrderItemMap"
		parameterType="java.lang.Integer">

		SELECT orders.id,orderitem.id as oiid,order_no,
		orders.createtime,username,phone,storename,
		amount,listprice,totalprice,
		commodity.commodity_no,NAME,pictureurl
		FROM
		orders,USER,store,orderitem,commodity
		WHERE 
		user.id=orders.user_id 
		AND 
		orderitem.commodity_no=commodity.commodity_no
		AND
		store.store_no=orders.store_no 
		AND 
		orderitem.order_id=orders.id
		AND
		orders.id=#{id}
	</select>

	<update id="updateOrders" parameterType="Orders">

		update orders
		<set>

			<if test="orderNo != null">
				order_no=#{orderNo,jdbcType=VARCHAR},
			</if>
			<if test="userId != null">
				user_id=#{userId,jdbcType=VARCHAR},
			</if>
			<if test="storeNo != null">
				store_no=#{storeNo,jdbcType=VARCHAR},
			</if>
			<if test="totalAmount != null">
				totalamount=#{totalAmount,jdbcType=DOUBLE},
			</if>
			<if test="paymentType != null">
				paymenttype=#{paymentType,jdbcType=VARCHAR},
			</if>
			<if test="paymentSubtype != null">
				paymentsubtype=#{paymentSubtype,jdbcType=VARCHAR},
			</if>
			<if test="deliveryType != null">
				deliverytype=#{deliveryType,jdbcType=VARCHAR},
			</if>
			<if test="states != null">
				states=#{states,jdbcType=INTEGER}
			</if>


		</set>
		where id=#{id}

	</update>



	<select id="getOrderssByDatePage" parameterType="java.util.Map"
		resultMap="OrderssWithStoreMap">
		SELECT orders.id,order_no,totalamount,states,createtime,storename
		FROM
		orders,store
		WHERE store.store_no=orders.store_no
		and
		createtime>#{start,jdbcType=TIMESTAMP} and
		#{end,jdbcType=TIMESTAMP}>createtime
		<if test="state != null">
			and states=#{state,jdbcType=INTEGER}
		</if>
	</select>

</mapper>