<div class="container statisticChooseContainer" ng-controller="goodsStatisticsController">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="col-sm-6">
				<span class="glyphicon glyphicon-user">&nbsp;数据统计&nbsp;</span>
				<span class="glyphicon glyphicon-chevron-right">&nbsp;商品销售概况&nbsp;</span>
			</div>
		</div>
	</div>
	<div class="content">
		<h1>请选择所要查看的销售概况</h1>
		<div class="btn-group btn-group-lg">
			<button type="button" class="btn btn-primary" ng-click="goOverall()">总体概况</button>
			<button type="button" class="btn btn-primary" ng-click="goStore()">门店概况</button>
		</div>
	</div>
</div>