<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-user">&nbsp;订单管理&nbsp;</span>
                <span class="glyphicon glyphicon-chevron-right">&nbsp;已付款订单&nbsp;</span>
            </div>
            <div class="col-sm-8">
                <div class="col-sm-7">
                    <div class="col-sm-6">
                        <div class="input-group input-group-sm">
                            <input type="date" class="form-control">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group input-group-sm">
                            <input type="date" class="form-control">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="input-group input-group-sm">
                        <div class="input-group-btn">
                            <div class="btn-group btn-group-sm">
                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
                                    <span class="glyphicon glyphicon-ok">&emsp;订单编号</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li class="small">
                                        <a href="javascript:;" class="glyphicon glyphicon-ok">&emsp;订单编号</a>
                                    </li>
                                    <li class="small">
                                        <a href="javascript:;" class="glyphicon glyphicon-ok">&emsp;订单状态</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <input type="text" class="form-control" placeholder="请输入搜索内容">
                        <div class="input-group-btn">
                            <button class="btn btn-default btn-sm" type="button"><span
                                    class="glyphicon glyphicon-search"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-striped">
        <tr>
            <th></th>
            <th>订单编号</th>
            <th>下单时间</th>
            <th>订单状态</th>
            <th>订单总额</th>
            <th>取货门店</th>
            <th>操作</th>
        </tr>

        <tr>
            <td>1</td>
            <td>20170707151920067</td>
            <td>2017-07-07 15:20:45</td>
            <td>已付款</td>
            <td>2116.8</td>
            <td>中软国际总部</td>
            <td>
                <a href="javascript:;">查看订单详情</a>&emsp;
                <a href="javascript:;">发货</a>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>20170707151920067</td>
            <td>2017-07-07 15:20:45</td>
            <td>已付款</td>
            <td>2116.8</td>
            <td>中软国际总部</td>
            <td>
                <a href="javascript:;">查看订单详情</a>&emsp;
                <a href="javascript:;">发货</a>
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td>20170707151920067</td>
            <td>2017-07-07 15:20:45</td>
            <td>已付款</td>
            <td>2116.8</td>
            <td>中软国际总部</td>
            <td>
                <a href="javascript:;">查看订单详情</a>&emsp;
                <a href="javascript:;">发货</a>
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td>20170707151920067</td>
            <td>2017-07-07 15:20:45</td>
            <td>已付款</td>
            <td>2116.8</td>
            <td>中软国际总部</td>
            <td>
                <a href="javascript:;">查看订单详情</a>&emsp;
                <a href="javascript:;">发货</a>
            </td>
        </tr>
    </table>
</div>