<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lexian.manager.goods.dao.SortDao">


<select id="getAllCategories" resultType="Category">
	select 
	id,categoryname as categoryName,type,parentId
	from category
</select>

<select id="getCategoryByCategoryName" resultType="Category">
	select 
	id,categoryname as categoryName,type,parentId
	from category
	where categoryname= #{categoryname,jdbcType=VARCHAR}
</select>

<update id="updateCategoryById">
		update category set categoryname =#{categoryname,jdbcType=VARCHAR} where id=#{id,jdbcType=INTEGER}
	
</update>

<delete id="deleteCategory">
		delete 
		from category
		where id=#{id,jdbcType=INTEGER}
</delete>

 <insert id="addCategory" parameterType="Category">
  		insert into category(id,categoryname,type,parentid)
  		values(
  		#{category.id,jdbcType=INTEGER},
  		#{category.categoryName,jdbcType=VARCHAR},
  		#{category.type,jdbcType=INTEGER},
  		#{category.parentid,jdbcType=INTEGER}
  		)
  </insert>

</mapper>