html,
body {
    width: 100%;
    height: 100%;
}

.lx-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    min-width: 1200px;
}

/*****************Header Start************/

header {
    height: 80px;
    width: 100%;
    /*margin: 0 auto;*/
    background: #c9c9c9;
}


/*****************Header End************/


/*****************Main Start************/

.main {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 600px;
    background-image: url("http://osnk57csd.bkt.clouddn.com/contentPic.jpg");
    background-repeat: no-repeat;
    background-size: 100% 600px;
}

.login-div {
    width: 400px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    left: 28%;
    top: -50px
}

.login-div h1 {
    line-height: 50px;
}

.login-div form {
    padding: 0 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    border-top: 1px solid #9e9e9e;
}

.login-div form div {
    margin-bottom: 20px;
}


/*****************Main End************/


/*****************Footer Start************/

footer {
    height: 100px;
    width: 80%;
    margin: 0 auto;
}

.logo {
    height: 50px;
    width: 50px;
}

footer a {
    color: #333;
}

/*****************Footer End************/
