<div class="container">
	<div class="panel panel-default">
		<div class="panel-body" style="background-color: #f5f5f5;">
			<div class="col-sm-6" style="position: relative; top: 7px;">
				<span class="glyphicon glyphicon-user">&nbsp;商品活动管理&nbsp;</span>
				<span class="glyphicon glyphicon-chevron-right">&nbsp;商城活动&nbsp;</span>
			</div>
			<div class="col-sm-6">
				<div class="pull-right">
					<button type="button" class="btn btn-default">
						<span class="glyphicon glyphicon-plus">添加</span>
					</button>
				</div>
			</div>
		</div>
	</div>

	<div>
		<table class="table table-striped" style="text-align: center;">
			<tr>
				<th></th>
				<th style="text-align: center;">模块编号</th>
				<th style="text-align: center;">模块名称</th>
				<th style="text-align: center;">操作</th>
			</tr>

			<tr>
				<td>1</td>
				<td>1</td>
				<td>限时抢购</td>
				<td>
					<a href="javascript:;">查看活动商品</a>&emsp;
					<a href="javascript:;">修改</a>&emsp;
					<a href="javascript:;">删除</a>
				</td>
			</tr>
			<tr>
				<td>1</td>
				<td>1</td>
				<td>限时抢购</td>
				<td>
					<a href="javascript:;">查看活动商品</a>&emsp;
					<a href="javascript:;">修改</a>&emsp;
					<a href="javascript:;">删除</a>
				</td>
			</tr>
			<tr>
				<td>1</td>
				<td>1</td>
				<td>限时抢购</td>
				<td>
					<a href="javascript:;">查看活动商品</a>&emsp;
					<a href="javascript:;">修改</a>&emsp;
					<a href="javascript:;">删除</a>
				</td>
			</tr>
			<tr>
				<td>1</td>
				<td>1</td>
				<td>限时抢购</td>
				<td>
					<a href="javascript:;">查看活动商品</a>&emsp;
					<a href="javascript:;">修改</a>&emsp;
					<a href="javascript:;">删除</a>
				</td>
			</tr>
			<tr>
				<td>1</td>
				<td>1</td>
				<td>限时抢购</td>
				<td>
					<a href="javascript:;">查看活动商品</a>&emsp;
					<a href="javascript:;">修改</a>&emsp;
					<a href="javascript:;">删除</a>
				</td>
			</tr>
			<tr>
				<td>1</td>
				<td>1</td>
				<td>限时抢购</td>
				<td>
					<a href="javascript:;">查看活动商品</a>&emsp;
					<a href="javascript:;">修改</a>&emsp;
					<a href="javascript:;">删除</a>
				</td>
			</tr>
		</table>
	</div>
</div>