<div class="container" ng-controller="storeGoodsController">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-sm-6">
                <span class="glyphicon glyphicon-user">&nbsp;商品管理&nbsp;</span>
                <span class="glyphicon glyphicon-chevron-right">&nbsp;上下架管理&nbsp;</span>
            </div>
            <div class="col-sm-6">
                <div class="col-sm-10 col-sm-offset-2">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <div class="btn-group">
                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
                                    <span class="glyphicon glyphicon-ok">&emsp;店铺名称</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="javascript:;" class="glyphicon glyphicon-ok">&emsp;店铺名称</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" class="glyphicon glyphicon-ok">&emsp;店铺编号</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <input type="text" class="form-control" placeholder="请输入搜索内容">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="button"><span
                                    class="glyphicon glyphicon-search"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped" ng-init="getStoreGoods()">
        <tr>
            <th></th>
            <th>店铺编号</th>
            <th>店铺名称</th>
            <th>操作</th>
        </tr>

        <tr ng-repeat="item in aStoreGoods">
            <td>{{$index+startIndex}}</td>
            <td>{{item.storeNo}}</td>
            <td>{{item.storeName}}</td>
            <td>
                <a ui-sref="store/goods/manageStore({storeNo:item.storeNo,storeName:item.storeName})">店铺商品管理</a>
            </td>
        </tr>

    </table>
    <pagination page-size="pageSize" page-no="pageNo" total-size="{{nTotalSize}}" page-nums="{{nPageNums}}" start-index={{startIndex}} end-index={{lastIndex}} refresh-method="getStoreGoods()"></pagination>
</div>