<div class="container" ng-controller="storeInfoController">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-sm-6">
                <span class="glyphicon glyphicon-user">&nbsp;门店管理&nbsp;</span>
                <span class="glyphicon glyphicon-chevron-right">&nbsp;门店信息&nbsp;</span>
            </div>
            <div class="col-sm-6">
                <div class="col-sm-10">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <div class="btn-group">
                                <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
                                    <span class="glyphicon glyphicon-ok">&emsp;门店名称</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a href="javascript:;" class="glyphicon glyphicon-ok">&emsp;门店名称</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" class="glyphicon glyphicon-ok">&emsp;门店编号</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <input type="text" class="form-control" placeholder="请输入搜索内容">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="button"><span
                                    class="glyphicon glyphicon-search"></span></button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 ">
                    <button type="button" class="btn btn-default" ng-click="addStore()">
                        <span class="glyphicon glyphicon-plus">添加</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped" ng-init="getStoreInfo()">
        <tr>
            <th></th>
            <th>门店编号</th>
            <th>门店名称</th>
            <th>门店地址</th>
            <th>状态</th>
            <th>操作</th>
        </tr>

        <tr ng-repeat="item in aStoreInfo" ng-switch="item.status">
            <td>{{$index+1}}</td>
            <td>{{item.storeNo}}</td>
            <td>{{item.storeName}}</td>
            <td>{{item.storeAddress}}</td>
            <td>
                <span ng-switch-when="1">已启用</span>
                <span ng-switch-when="-1">已冻结</span>
            </td>
            <td>
                <a ui-sref="store/info/changeStore({storeNo:item.storeNo})">修改</a>&emsp;
                <a href="javascript:;" class="forbidden-btn" ng-switch-when="1"
                   ng-click="forbiddenStore(item.id, item.status)">禁用</a>
                <a href="javascript:;" ng-switch-when="-1" ng-click="forbiddenStore(item.id, item.status)">启用</a>
            </td>
        </tr>
    </table>
    <pagination></pagination>
</div>
