<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>乐鲜超市</title>
    <link rel="shortcut icon" href="http://static01.yiguo.com/common/images/yiguo.ico">
    <link rel="stylesheet" href="style/common.css" type="text/css">
    <link rel="stylesheet" href="framework/bootstrap3/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="framework/datePicker/font-awesome.min.css">
    <link rel="stylesheet" href="framework/datePicker/daterangepicker-bs3.css">
    <link rel="stylesheet" href="framework/dateTimePicker/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="style/main.css">
    <script src="framework/jquery.js"></script>
    <script src="framework/angular/angularjs.js"></script>
    <script src="framework/angular/angular-ui-router.js"></script>
    <script src="framework/bootstrap3/js/bootstrap.min.js"></script>
    <script src="script/app.js"></script>
    <script src="script/controllers.js"></script>
    <script src="script/directives.js"></script>
    <script src="script/filters.js"></script>
    <script src="script/services.js"></script>
    <script src="framework/datePicker/moment.min.js"></script>
    <script src="framework/datePicker/daterangepicker.js"></script>
    <script src="framework/ckeditor/ckeditor.js"></script>
    <script src="framework/dateTimePicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="framework/dateTimePicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
</head>

<body>
<div class="container">
    <header>
        <div class="header-pic">
            <img src="http://osnk57csd.bkt.clouddn.com/wenzi.png" alt="header-pic" title="欢迎光临乐鲜超市">
        </div>
    </header>
    <div class="main" ng-app="lx-app">
        <div class="row">
            <div class="col-xs-2 main-left" ng-controller="userController">
                <div class="left-header">
                    <div class="left-header-top">
                        <div class="row">
                            <div class="avatar col-xs-6">
                                <img src="http://osnk57csd.bkt.clouddn.com/imagehead.png" alt="">
                            </div>
                            <div class="header-operation col-xs-6">
                                <a href="javascript:;" ng-click="signOut()">退出登录</a>
                                <a ui-sref="updatePwd">修改密码</a>
                            </div>
                        </div>
                    </div>
                    <div class="user-info">
                        <span ng-bind="oData.username"></span>
                    </div>
                    <div class="time-area">
                        <span ng-init="startClock()" ng-bind="curTime| date: 'yyyy-MM-dd HH:mm:ss'"></span>
                    </div>
                </div>
                <div class="left-user-center">
                    <div class="panel-group" id="accordion" role="tablist"  ng-init="getUserCenterList()">
                        <div class="panel panel-default"  ng-repeat="item in (oData.aCenterListData | filter:{'parentId': null})">
                            <div class="panel-heading" role="tab">
                                <h4 class="panel-title">
                                    <a role="button" class="collapsed" data-toggle="collapse" data-parent="#accordion" ng-href="#{{item.name}}">
                                        <i class="icon" ng-class="oData.aIcons[item.id-1]"></i><strong ng-bind="item.name"></strong><span class="glyphicon glyphicon-chevron-down"></span>
                                    </a>
                                </h4>
                            </div>
                            <div id="{{item.name}}" class="panel-collapse collapse" role="tabpanel">
                                <div class="panel-body">
                                    <ul class="sidebar-ul">
                                        <li ng-repeat="subItem in (oData.aCenterListData | filter: {'parentId' : item.id})">
                                            <a ui-sref="{{oData.jSref[subItem.id]}}" ng-click="subItemClick($event)">{{subItem.name}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-10 main-right">
                <div ui-view></div>
            </div>
        </div>
    </div>
    <footer>
        <div align="center">
            <img src="http://osnk57csd.bkt.clouddn.com/logo1.png" class="logo"/>
            <span>
                <a href="javascript:;">法律声明</a> |
                <a href="javascript:;">隐私保护</a> |
                <a href="javascript:;">联系我们  </a>
            </span>
            <span>版权所有 © 中软国际有限公司 2017 保留一切权利</span>
        </div>
        <div align="center">
            <a href="javascript:;">京ICP备05028939号 京公安备11010802014778号</a>
        </div>
    </footer>
</div>
</body>

</html>
