<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>乐鲜超市-请先登录</title>
    <link rel="shortcut icon" href="http://static01.yiguo.com/common/images/yiguo.ico">
    <link rel="stylesheet" href="style/common.css" type="text/css">
    <link rel="stylesheet" href="framework/bootstrap3/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="style/login.css">
</head>

<body>
    <div class="lx-container">
        <header>
            <div align="center">
                <img src="http://osnk57csd.bkt.clouddn.com/wenzi.png" />
            </div>
        </header>
        <div class="main" ng-app="singInApp">
            <div class="login-div" ng-controller="signController">
                <h1 align="center">登录</h1>
                <form role="form" name="signForm">
                    <div class="input-group">
                        <div class="input-group-addon">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        </div>
                        <input type="text" class="form-control" ng-model="username" placeholder="用户名" ng-required="true">
                    </div>
                    <div class="input-group">
                        <div class="input-group-addon">
                        <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                        </div>
                        <input type="password" name="password" class="form-control" ng-model="pwd" ng-keyup="clickEnter($event)" placeholder="密码" ng-required="true">
                    </div>
                    <button type="button" class="btn btn-primary" ng-click="signIn()"
                     ng-disabled="signForm.$invalid">登录</button>
                </form>
            </div>
        </div>
        <footer>
            <div align="center">
                <img src="http://osnk57csd.bkt.clouddn.com/logo1.png" class="logo" />
                <a href="javascript:;">法律声明</a> |
                <a href="javascript:;">隐私保护</a> |
                <a href="javascript:;">联系我们</a>  
                <span>版权所有 © 中软国际有限公司 2017 保留一切权利</span>
            </div>
            <div align="center">
                <a href="javascript:;">京ICP备05028939号 京公安备11010802014778号</a>
            </div>
        </footer>
    </div>
    <script src="framework/jquery.js"></script>
    <script src="framework/angular/angularjs.js"></script>
    <script src="script/login.js"></script>
</body>

</html>
