<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.lexianmarket">

    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- sd卡 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />


    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_LOGS" >
    </uses-permission>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />




    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.GoodsListActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activity.OrdersActivity" />
        <activity android:name=".activity.AppManagerActivity" />
        <activity android:name=".activity.CommodityCollectionActivity" />
        <activity android:name=".activity.WalletActivity" />
        <activity android:name=".activity.ForgetActivity" />
        <activity android:name=".activity.CommodityDetailActivity" />
        <activity
            android:name=".activity.RegisterActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activity.SpecialCommodityActivity" />
        <activity android:name=".activity.ForgetNextActivity" />
        <activity android:name=".activity.ConfirmOrdersActitvity" />
        <activity android:name=".activity.OrderDetailActivity" />
        <activity android:name=".activity.UserInfoActivity" />
        <activity android:name=".activity.UpdatePasswordActivity" />
        <activity android:name=".activity.SpecialActivity"></activity>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" >
                </action>
            </intent-filter>
        </service>
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="wA0vOnMyEI2VBBAMZxMNxvb7volY5Nn4" />

    </application>

</manifest>