<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>day_45_bookstore</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<!-- 配置登录action -->
	<context-param>
		<param-name>login-action</param-name>
		<param-value>signIn.do</param-value>
	</context-param>


	<!-- 配置Spring容器加载的时间点以及文件位置 -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext*.xml</param-value>
	</context-param>

	<!-- 配置SpringMVC的Servlet以及配置文件的位置 -->
	<servlet>
		<servlet-name>LexianManagerServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:applicationContext*.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>LexianManagerServlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

	<!--配置一个编码格式过滤器（springMvc中自带的） -->
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- 配置session的存活时间 -->
	<session-config>  
    	<session-timeout>5</session-timeout>  
	</session-config>
	
	
	<!-- 配置跳转到主页的过滤器，若登录成功则直接跳转到 home页面，否则跳转到登录界面 -->
	<filter>
		<filter-name>PageFilter</filter-name>
		<filter-class>com.lexian.filter.PageFilter</filter-class>
		<init-param>
			<param-name>home-page</param-name>
			<param-value>home.html</param-value>
		</init-param>
		<init-param>
			<param-name>login-page</param-name>
			<param-value>index.html</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>PageFilter</filter-name>
		<url-pattern>*.html</url-pattern>
	</filter-mapping> 
	
	
	<!-- 配置登录过滤器 -->
	<filter>
		<filter-name>CheckLoginFilter</filter-name>
		<filter-class>com.lexian.filter.CheckLoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CheckLoginFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	
	<!-- 配置权限过滤器 -->
	<!-- <filter>
		<filter-name>CheckPrivilegeFilter</filter-name>
		<filter-class>com.lexian.filter.CheckPrivilegeFilter</filter-class>
		<init-param>
			<param-name>action</param-name>
			<param-value>action</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CheckPrivilegeFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping> -->
	<!-- 配置监听session的监听器 -->
	<listener>
		<listener-class>com.lexian.listener.SessionListener</listener-class>
	</listener>

</web-app>