<div class="container vipContainer" ng-controller="queryVipController">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-sm-6">
                <span class="glyphicon glyphicon-user">&nbsp;会员管理&nbsp;</span>
                <span class="glyphicon glyphicon-chevron-right">&nbsp;查看会员信息&nbsp;</span>
            </div>
            <div class="col-sm-6">
                <div class="col-sm-10 col-sm-offset-2">
                    <searchfilter selected-filter="selctedFilter" filter-str="filterStr" filter-types="filterTypes"></searchfilter>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-striped" ng-init="getVips()">
        <tr>
            <th></th>
            <th>会员名</th>
            <th>手机号</th>
            <th>最后登录时间</th>
            <th>状态</th>
            <th>操作</th>
        </tr>

        <tr ng-repeat="item in aVips | filter: myFilter" ng-switch="item.status">
            <td>{{$index+startIndex}}</td>
            <td>{{item.userName}}</td>
            <td>{{item.phone}}</td>
            <td>{{item.lastLoginTime|date: 'YY-mm-ss HH-mm-ss'}}</td>
            <td>
                <span ng-switch-when="1">启用</span>
                <span ng-switch-when="-1">禁用</span>
            </td>
            <td>
                <a href="javascript:;" ng-switch-when="1" ng-click="updateUsersStatus(item.id, item.status)">禁用</a>
                <a href="javascript:;" ng-switch-when="-1" ng-click="updateUsersStatus(item.id, item.status)">激活</a>
            </td>
        </tr>
    </table>
            <pagination page-size="pageSize" page-no="pageNo" total-size="{{nTotalSize}}" page-nums="{{nPageNums}}" start-index={{startIndex}} end-index={{lastIndex}} refresh-method="getVips()"></pagination>
</div>