<div class="pagination">
    <div class="page-size">
        <select ng-model="pageSize" ng-change="pageSizeChange()">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
        </select>
    </div>
    <i class="vertical-line"></i>
    <span class="glyphicon glyphicon-chevron-left" ng-click="prevPage()"></span>
    <i class="vertical-line"></i>
    <span class="control-label">第</span>
    <div class="current-page">
        <input type="number" class="form-control" min="1" max="{{pageNums}}" ng-model="pageNo" />
    </div>
    <span>页&emsp;共{{pageNums}}页</span>
    <button ng-click="jumpTo()">go</button>

    <i class="vertical-line"></i>
    <span class="glyphicon glyphicon-chevron-right" ng-click="nextPage()"></span>
    <i class="vertical-line"></i>
    <span class="glyphicon glyphicon-refresh" ng-click="refreshMethod()"></span>
    <span>显示{{startIndex}}到{{endIndex}}条，共{{totalSize}}条记录</span>
</div>