<div class="pagination">
    <div class="page-size">
        <select class="form-control">
            <option>10</option>
            <option>20</option>
            <option>30</option>
        </select>
    </div>
    <i class="vertical-line"></i>
    <span class="glyphicon glyphicon-step-backward"></span>
    <span class="glyphicon glyphicon-chevron-left"></span>
    <i class="vertical-line"></i>
    <span class="control-label">第</span>
    <div class="current-page">
        <input type="number" class="form-control" value="1" min="1"/>
    </div>
    <span>页&emsp;共1页</span>
    <i class="vertical-line"></i>
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="glyphicon glyphicon-step-forward"></span>
    <i class="vertical-line"></i>
    <span class="glyphicon glyphicon-refresh"></span>
    <span>显示1到3条，共3条记录</span>
</div>